.providers {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    overflow: auto;
    width: 30%;
    flex-direction: row;
    position: relative;
    float: left;
    margin-left: 90px;
}

.providers__wrapper {
    margin-top: 25px;
    margin-right: 8px;
    background-color: #FFFFFF;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    @media (min-width: 1600px) {
        width: calc(500px + 10vw);
    }
}

.providers__wrapper table, .providers__wrapper h5 {
    margin-left: 20px;
}
.providers__table td{
    padding-bottom: 10px!important;
}
.providers__heading{
    margin-bottom: 25px;
    font-weight: 900;
    font-size: 20px;
    color: #35384D;
    padding-top: 25px!important;
}

.providers__img--provider {
    height: 35px;
    margin-right: 10px;
}

.providers__data--first {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #35384D;
    width: 20%;
}

.providers__data--second {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #9DA8B6;
    width: 25%;
}

.providers__img--location {
    margin-right: 5px;
}

.providers__data--third {
    width: 5%;
}

.provider__btn {
    background-color: #FFFFFF;
    border: none;
}