.providers-activity {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    overflow: auto;
    flex-direction: row;
    margin-left: 80px;
    background-color: #00367A;
}

.providers__wrapper {
    margin-top: 25px;
    margin-left: 6%;
    width: 27%;
    height: 50%;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.providers__wrapper table, .providers__wrapper h5 {
    margin-left: 20px;
}
.providers__table td{
    padding-bottom: 10px!important;
}
.providers__heading{
    font-weight: 900;
    font-size: 20px;
    color: #35384D;
    padding-top: 25px!important;
}

.providers__img--provider {
    height: 25px;
    margin-right: 10px;
}

.providers__data--first {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #35384D;
    width: 20%;
}

.providers__data--second {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #9DA8B6;
    width: 25%;
}

.providers__img--location {
    margin-right: 5px;
}

.providers__data--third {
    width: 5%;
}

.provider__btn {
    background-color: #FFFFFF;
    border: none;
}