@import "../../styles/variables.css";

.form-control {
    background-color: var(--background-color);
}

.form-container__label {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--blue-color);
}

.form-container__check .form-check-input {
    border: var(--blue-color) 2px solid;
    border-radius: 4px;
}

.form-container__verification input {
    border: none;
    border-bottom: 1pt #9DA8B6 solid;
    border-radius: 0;
}

.form-container textarea {
    border: none;
}

.form-control {
    width: 430px;
}

.form-map__image {
    margin-top: 60px;
    width: 542px;
    height: 563px;
    border-radius: 12px;

}