@import "../../styles/variables.css";

.form-control {
    background-color: var(--background-color);
}

.footer__text{
    font-size: 16px;
}

.form__title{
    font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(40px + (50 - 40) * ((100vw - 300px) / (1600 - 300)));;
}

.form-container__label {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--blue-color);
}

.form-container__check .form-check-input {
    border: var(--blue-color) 2px solid;
    border-radius: 4px;
}

.form-container__verification input {
    border: none;
    border-bottom: 1pt #9DA8B6 solid;
    border-radius: 0;
}

.form-container textarea {
    border: none;
}

.form-control {
    width: calc(290px + (330 - 290) * ((100vw - 320px) / (768 - 320)));
    border: none;
    border-radius: 0;
    border-bottom: var(--blue-color) 1px solid;
}

.form-map__image {
    margin-top: 60px;
    width: calc(100% * 542 / 542);
    height: calc(100% * 563 / 563);
    border-radius: 12px;
}