.logo-wrapper {
    margin-left: -230px;
    display: flex;
    align-items: center;
    margin-right: 130px;
}

.icon-registration {
    color: #0052B4;
}

.navigation a {
    color: #303031;
    font-size: 13px;
    line-height: 20px;
    margin-right: 20px;
}
.navigation__logo--first{
    width: 90px;
}
.nav-links a {
    font-weight: 700;
}

.registration {
    font-weight: 500;
}

.btn.btn--secondary{
    background-color:  #FBFBFB;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #303031;
    border-radius: 3pt;
    border: #0052B4 solid;
    padding: 0 20px 0 20px;
}
