.navigation__logo {
    margin-left: -230px;
    display: flex;
    align-items: center;
    margin-right: 130px;
    @media(--lg-viewport){
        margin-left: -60px !important;
        margin-right: 10px !important;;
    }
    @media(--md-viewport){
        margin-left: 0 !important;
    }
    @media(--md-viewport){
        display: none !important;
    }
}

.icon-registration {
    color: var(--btn-blue-color);
}

.navigation a {
    color: #303031;
    font-size: 13px;
    line-height: 20px;
    margin-right: 140px;
}

.navigation__logo--first {
    width: 90px;
}

.nav-links a {
    font-weight: 700;
}

.registration {
    font-weight: 500;
}

.btn.btn--secondary {
    background-color: #FBFBFB;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #303031;
    border-radius: 3pt;
    border: var(--btn-blue-color) solid;
    padding: 0 20px 0 20px;
    @media (--sm-viewport) {
        border: none !important;
        font-size: 15px;
    }
    @media (--md-viewport) {
        border: none !important;
        font-size: 15px;
    }
}

@media (min-width: 769px) {
    .small-screen-only {
        display: none;
    }
}


