.icon-registration {
    color: var(--btn-blue-color);
}

.navigation a {
    color: #303031;
    font-size: 13px;
    line-height: 20px;
    margin-right: 140px;
}

.navigation a:hover {
   color: var(--orange-color);
}

.navigation__logo--first {
    width: 90px;
}

.nav-links a {
    font-weight: 700;
}

.registration {
    font-weight: 500;
}

.btn.btn--secondary {
    background-color: #FBFBFB;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #303031;
    border-radius: 3pt;
    border: var(--btn-blue-color) solid;
    padding: 0 20px 0 20px;
    @media (--sm-viewport) {
        border: none !important;
        font-size: 15px;
    }
    @media (--md-viewport) {
        border: none !important;
        font-size: 15px;
    }
}

@media (min-width: 959px) {
    .small-screen-only {
        display: none;
    }
}

.btn.btn--secondary:hover {
    background-color: var(--btn-blue-color);
    color: white;
}


.nav-links {
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    text-decoration: none;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 8px;
    bottom: 0;
    width: 0;
    height: 10%;
    background-color: #000;
    transition: width 0.3s ease;

}

.nav-links a:hover::after {
    width: 30%;
}


