.carousel{
    margin-bottom: 200px;
}

.carousel__text h2{
    width: 70%;
}

.carousel__btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel__btn--round {
     background: #0052B4;
     border-radius: 100%;
     box-shadow: 0 0 0 2px #0052B4;
     border: 3px solid #ffffff;
     width: 20px;
     height: 20px;
 }

.carousel__btn--round:hover {
    background: #FF7616;
    border-radius: 100%;
    box-shadow: 0 0 0 2px #FF7616;
    border: 3px solid #ffffff;
    width: 20px;
    height: 20px;
}

.carousel__horizontal-line {
    flex-grow: 1;
    height: 1px;
    margin-left: 10px;
    border: dashed 1px lightgrey;
}

.carousel__horizontal-line--hidden{
    flex-grow: 1;
    height: 1px;
    margin-left: 10px;
    border: dashed 1px #ffffff;
}

.align-center {
    display: flex;
    align-items: center;
}

.carousel__horizontal-line {
    margin-right: 10px;
}

.carousel__btn--round {
    position: relative;
}


.carousel__btn--round::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    color: #FF7616;
    padding: 5px 10px;
    border-radius: 3px;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}

.carousel__btn--round:hover::before {
    opacity: 1;
}

.carousel{
    height: 500px;
}

.carousel__arrows{
    color: white;
}

.carousel__arrows:hover{
    color: #FF7616;
}