.carousel__text h2 {
    width: 70%;
    @media(--sm-viewport){
        width: 100%;
    }
}
.carousel__title{
    font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(40px + (50 - 40) * ((100vw - 300px) / (1600 - 300)));;
}
.carousel__subtitle{
    font-size: calc(20px + (20 - 20) * ((100vw - 300px) / (1600 - 300)));
}

.carousel__btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel__btn--round {
    background-color: var(--btn-blue-color);
    border-radius: 100%;
    box-shadow: 0 0 0 2px var(--btn-blue-color);
    border: 3px solid #ffffff;
    width: 20px;
    height: 20px;
}

.carousel__btn--round:hover {
    background-color: var(--orange-color);
    border-radius: 100%;
    box-shadow: 0 0 0 2px var(--orange-color);
    border: 3px solid #ffffff;
    width: 20px;
    height: 20px;
}

.carousel__horizontal-line {
    flex-grow: 1;
    height: 1px;
    margin-left: 10px;
    border: dashed 1px lightgrey;
}

.carousel__horizontal-line--hidden {
    flex-grow: 1;
    height: 1px;
    margin-left: 10px;
    border: dashed 1px #ffffff;
}

.align-center {
    display: flex;
    align-items: center;
}

.carousel__horizontal-line {
    margin-right: 10px;
    @media(--sm-viewport){
        display: none;
    }
}

.carousel__btn--round {
    position: relative;
    @media(--sm-viewport){
        display: none;
    }
}


.carousel__btn--round::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    color: var(--orange-color);
    padding: 5px 10px;
    border-radius: 3px;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}

.carousel__btn--round:hover::before {
    opacity: 1;
}

.carousel-item {
    height: 700px;
}

.carousel__arrows {
    color: white;
}

.carousel__arrows:hover {
    color: var(--orange-color);
}

.carousel__row {
    height: 200px;
    display: flex;
    align-items: center;
}

.wrapper__tooltip--first, .wrapper__tooltip--second{
    position: absolute;
    display: flex;
    text-align: left;
    align-items: center;
    width: 301px;
    background-color: white;
    box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    right: 150px;
    @media(--sm-viewport){
        display: none;

    }
    @media(--md-viewport){
        display: none;
    }

}

.wrapper__tooltip--second{
    top: 300px;
    right: 400px;
    background-color: white;
    @media(--sm-viewport){
        display: none;
    }
    @media(--md-viewport){
        display: none;
    }

}

.tooltip__text{
    font-size: 11px;
    color: #9DA8B6;
    position: relative;
    z-index: 2;
    @media(--sm-viewport){
        display: none;
    }
    @media(--md-viewport){
        display: none;
    }

}
.tooltip__img {
    margin-right: 10px;
    background-color: #FBFBFB;
    padding: 20px;
    border-right: 1px solid #F0F0F0;
    position: relative;
    z-index: 2;
    @media(--sm-viewport){
        display: none;
    }
    @media (--md-viewport) {
        display: none;
    }
}

.wrapper__img {
    position: relative;
    margin-top: 180px;
    @media(--sm-viewport){
        display: none;
    }
}

.wrapper__tooltip--first {
    z-index: 20;
}

.wrapper__tooltip--second {
    z-index: 30;
}

.wrapper__img img{
    @media(--md-viewport){
    width: 250px;
        height: 250px;
}
}