@import "components/achievements/Achievements.css";
@import "components/footer/Footer.css";
@import "components/buttonnavigation/ButtonNavigation.css";
@import "components/form/Form.css";
@import "components/blog/Blog.css";
@import "components/herocontainer/HeroContainer.css";
@import "components/navbar/NavigationBar.css";
@import "components/carousel/Carousel.css";
@import "components/sidebar/Sidebar.css";
@import "components/adminnavigation/AdminNavigation.css";
@import "components/fuelprices/FuelPrices.css";
@import "components/statistics/Statistics.css";
@import "components/providers/Providers.css";
@import "components/sales/Sales.css";
@import "components/datalist/Datalist.css";

@custom-media --sm-viewport (max-width: 576px);

@custom-media --md-viewport (max-width: 958px);

@custom-media --lg-viewport (min-width: 992px);

@custom-media --xl-viewport (min-width: 1200px);

@custom-media --xxl-viewport (min-width: 1400px);


body {
    border-left: #E1E1E1 1px solid;
    background-color: #FBFBFB;
    overflow-x: hidden;
}

p {
    color: var(--text-color);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: lightgrey;
}

::-webkit-scrollbar-thumb {
    background-color: var(--btn-blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-color);
}

.home-page {
    margin-left: 200px;
    @media (--md-viewport) {
        margin-left: 0 !important;
    }
    @media (--sm-viewport) {
        margin-left: 0 !important;
    }
}

.logo, .arrow {
    @media (--md-viewport) {
        display: none;
    }
    @media (--sm-viewport) {
        display: none;
    }
}