.hero__title {
    font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 900;
    line-height: calc(40px + (76 - 30) * ((100vw - 300px) / (1600 - 300)));;
}

.hero__subtitle {
    font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(40px + (50 - 40) * ((100vw - 300px) / (1600 - 300)));;
}

.hero-description {
    font-weight: 400;
    font-size: 19px;
    line-height: 35px;
    color: #6A6A6A;
}

.btn--primary {
    width: 145px;
    height: 45px;
    background: var(--btn-blue-color);
    text-align: center;
    border-radius: 0;
}

.hero__arrow {
    margin-right: 2px;
    width: 12px;
    height: 12px
}