.right-sidebar{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    overflow: auto;
    width: 400px;
    position: relative;
    float: right;
}

.sales__container {
    width: 400px;
    height: 700px;
    margin: 5px;
}

.sales__header {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: var(--heading-color);
}

.sales__table {
    width: 100%;
    border-collapse: collapse;
}

.sales__table th {
    padding: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #9DA8B6;
}

.sales__table tr:hover {
    background: #FFFFFF;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.03);
}

.sales__table td {
    padding: 25px 8px 25px;
}

.sales__col--id {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    color: #35384D;
}

.sales__col--prov {
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 15px;
    color: #35384D;
}

.sales__col--num {
    color: #5BB09C;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
}

/* Messages */

.messages__container{
    margin-top: 15px;
    padding-right: 50px;
}
.messages__header{
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #35384D;
    margin-bottom: 25px;
}

.messages-monthly__container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-right: 90px;
}

.messages__text span {
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 16px;
    color: #9DA8B6;
    margin-left: 40px;
}



.messages__text--time span, .messages__span--list span {
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 16px;
    color: #35384D;
}

.messages__text--name{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #9DA8B6;
}

.messages__text--time, .messages__img, .messages__span--list{
    width: 100px;
}

.messages__img{
    margin-right: 10px;
    width: 50px;
}